mixin button(href, label)
    table(width="auto" border="0" cellspacing="0" cellpadding="0")
        tr
            td
                table(border="0" cellspacing="0" cellpadding="0")
                    tr
                        td(align="center" style="-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);" bgcolor="#FF6600")
                            a(href=href, target="_blank" style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding: 12px 25px; border: 1px solid #FF6600; display: inline-block;") #{label}
