block config
    include ../includes/config.pug

include ../includes/doctype-html-401.pug

html(lang=htmlLang)
    head

        include ../includes/meta-tags.pug

        if (addExternalCssLink)
            link(href="css/style.css" rel="stylesheet" type="text/css" media="all")

        if (addEmbeddedCssMediaQueries == true)
            style(rel="stylesheet" type="text/css" media="all")
                include ../../../dist/css/mq.css

        block head

        title #{title}

    body

        block content

        block scripts
