extends extends/layout
append config
    - var setLanguage = "en"
    - var emailTitle = "Index"

block content
    include includes/header.pug
    include modules/cart-table.pug
    include includes/footer.pug
