extends extends/layout.pug
append config
    - var addExternalCssLink = true
    - var title = "E-mail template"

block content
    include modules/header.pug
    include modules/cart-table.pug
    include modules/footer.pug